.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 480px) {
    text-align: start;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  // display: block;
}

.about__icon {
  height: 120px;
  margin-bottom: 30px;
  background: $color-background;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;
}
