.contacts {
  color: $text-color;
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;
  display: flex;
  // gap: 10px;
  align-items: center;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) {
    gap: 10px;
    display: flex;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
